.box {
  background-color: aqua;
  border: 1px solid wheat;
  margin-bottom: 0.5rem;
  text-align: center;
  align-items: center;
}




/* for column and row */
.container {
  display: grid;
  grid-template-columns: 150px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}



/* for minmax property */
.container {
  display: grid;
  grid-template-columns: 150px 100px 100px minmax(100px, auto);
   /* this will adjsu based on the content */
   /* 100px is the minimum width and auto is the maximum width  */
  grid-template-rows: 100px 100px 100px;
}



/* for repeat function */
.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  /* it is the same as grid-template-columns: 150px 150px 150px; */
  grid-template-rows: repeat(4, 150px);
  /* this is the same as grid-template-rows: 150px 150px 150px 150px; */
}

/* franction unit: */

/* it is a unit of measurement that represents a fraction of the available space in the grid container. It is denoted by the "fr" unit. For example, if you have a grid container with three columns and you set the width of each column to 1fr, it means that each column will take up an equal share of the available space in the container. If you set one column to 2fr and the other two columns to 1fr, it means that the first column will take up twice as much space as the other two columns. */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}


/* grid gap */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;